################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RatingStuff/RatingStuff/bin
/RatingStuff/RatingStuff/obj
/RatingStuff/RatingStuff/Properties/PublishProfiles
/RatingStuff/.vs/FunctionApp
/RatingStuff/RatingStuff/RatingStuff.csproj.user
